* {
  margin: 0 auto;
  padding: 0;
}
/* 清除列表前面的小圆点 */
li {
  list-style: none;
}
#menu {
  background-color: #eee;
  width: 500px;
  height: 40px;
  margin: 0 auto;
}
ul li {
  /* 设置左浮动 */
  float: left;
  line-height: 40px;
  text-align: center;
  position: relative;
}
a {
  /* 去除a标签超链接下划线 */
  text-decoration: none;
  color: #000;
  width: 90px;
  display: block;
}
/* 超链接鼠标移入效果 */
a:hover {
  background-color: red;
  color: #fff;
}
ul li ul {
  /* 二级目录默认隐藏 */
  display: none;
  width: 90px;
  position: relative;
}
/* 二级目录鼠标移入显示 */
ul li:hover ul {
  display: block;
}
ul li ul li {
  /* 清除二级目录浮动 */
  float: none;
  /* 设置背景颜色 */
  background-color: #eee;
  margin-top: 2px;
  position: relative;
}
/* 三级目录默认隐藏 */
ul li ul li ul.wenyuda {
  display: none;
}
/* 二级目录鼠标移入显示三级目录 */
ul li ul li:hover ul {
  display: block;
}
/* 设置三级目录位置 */
ul li ul li ul.wenyuda {
  position: absolute;
  top: -2px;
  left: 90px;
}
