<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div id="root">
      <!-- 输入框 -->
      <input v-model="todoItem" type="text" />
      <!-- 添加按钮 -->
      <button @click="todoClick">添加</button>
      <!-- 待办事项列表 -->
      <ul>
        <li v-for="(value, index) of todoList" :key="index">
          第{{ index + 1 }}件事:{{ value }}
        </li>
      </ul>
    </div>
  </body>
  <script>
    Vue.createApp({
      data() {
        return {
          // 待办事项列表的数据和输入框的值
          todoList: [],
          todoItem: "",
        };
      },
      methods: {
        // 添加待办事项的方法
        todoClick() {
          // 判断输入框的值是否为空
          if (this.todoItem) {
            // 将输入框的值添加到待办事项列表
            this.todoList.push(this.todoItem);
            // 清空输入框的值
            this.todoItem = "";
          }
        },
      },
    }).mount("#root");
  </script>
</html>
