<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div id="root">
      <input v-model="todoItem" type="text" />
      <button @click="todoClick">添加</button>
      <ul>
        <li v-for="(value,index) of todoList" :key="index">
          第{{index+1}}件事:{{value}}
        </li>
      </ul>
    </div>
  </body>
  <script>
    Vue.createApp({
      data() {
        return {
          todoList: [],
          todoItem: "",
        };
      },
      methods: {
        todoClick() {
          if (this.todoItem) {
            this.todoList.push(this.todoItem);
            this.todoItem = "";
          }
        },
      },
    }).mount("#root");
  </script>
</html>
